USE [master]
GO
/****** Object:  Database [PrepAce]    Script Date: 12/07/2026 7:58:58 PM ******/
CREATE DATABASE [PrepAce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PrepAce', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\PrepAce.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PrepAce_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\PrepAce_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PrepAce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PrepAce]
GO
/****** Object:  Table [dbo].[AcademicAnswers]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicAnswers](
	[answer_id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[answer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcademicQuestions]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicQuestions](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[lesson_id] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
	[timestamp_seconds] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AIChatHistory]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIChatHistory](
	[chat_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[question] [nvarchar](max) NULL,
	[ai_response] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[request_type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[assignment_id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[assignment_title] [nvarchar](255) NULL,
	[assignment_description] [nvarchar](max) NULL,
	[due_date] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignmentSubmissions]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignmentSubmissions](
	[submission_id] [int] IDENTITY(1,1) NOT NULL,
	[assignment_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[submission_text] [nvarchar](max) NULL,
	[file_url] [nvarchar](255) NULL,
	[score] [float] NULL,
	[feedback] [nvarchar](max) NULL,
	[submitted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[submission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action_name] [nvarchar](255) NULL,
	[action_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapters]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapters](
	[chapter_id] [int] IDENTITY(1,1) NOT NULL,
	[chapter_order] [int] NULL,
	[chapter_title] [nvarchar](255) NOT NULL,
	[course_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[chapter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseReviews]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseReviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[reviewed_at] [datetime] NULL,
	[created_at] [datetime2](6) NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[teacher_id] [int] NOT NULL,
	[subject_id] [int] NOT NULL,
	[course_title] [nvarchar](255) NOT NULL,
	[course_description] [nvarchar](max) NULL,
	[thumbnail_url] [nvarchar](255) NULL,
	[price] [decimal](10, 2) NULL,
	[is_published] [bit] NULL,
	[created_at] [datetime] NULL,
	[status] [nvarchar](20) NULL,
	[review_note] [nvarchar](max) NULL,
	[reviewed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[enrollment_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[enrolled_at] [datetime] NULL,
	[progress_percent] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[in_video_questions]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[in_video_questions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lesson_id] [int] NOT NULL,
	[timestamp_seconds] [int] NOT NULL,
	[question_text] [nvarchar](max) NULL,
	[option_a] [nvarchar](255) NOT NULL,
	[option_b] [nvarchar](255) NOT NULL,
	[option_c] [nvarchar](255) NOT NULL,
	[option_d] [nvarchar](255) NOT NULL,
	[correct_option] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningMaterials]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningMaterials](
	[material_id] [int] IDENTITY(1,1) NOT NULL,
	[lesson_id] [int] NOT NULL,
	[material_title] [nvarchar](255) NULL,
	[file_url] [nvarchar](255) NULL,
	[uploaded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonProgress]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonProgress](
	[progress_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[lesson_id] [int] NOT NULL,
	[is_completed] [bit] NOT NULL,
	[score] [float] NULL,
	[last_accessed] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[progress_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[lesson_id] [int] IDENTITY(1,1) NOT NULL,
	[lesson_title] [nvarchar](255) NOT NULL,
	[lesson_description] [nvarchar](max) NULL,
	[video_url] [nvarchar](255) NULL,
	[subtitle_url] [nvarchar](255) NULL,
	[lesson_order] [int] NULL,
	[created_at] [datetime] NULL,
	[chapter_id] [int] NULL,
	[course_id] [int] NULL,
	[duration] [nvarchar](20) NULL,
	[is_preview] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NULL,
	[target_role] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
	[user_id] [int] NULL,
	[is_read] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_status] [nvarchar](50) NULL,
	[transaction_code] [nvarchar](100) NULL,
	[paid_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question_options]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_options](
	[option_id] [int] IDENTITY(1,1) NOT NULL,
	[is_correct] [bit] NOT NULL,
	[content] [nvarchar](500) NULL,
	[question_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionOptions]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionOptions](
	[option_id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NOT NULL,
	[option_content] [varchar](255) NULL,
	[is_correct] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_id] [int] NULL,
	[question_content] [nvarchar](max) NULL,
	[correct_answer] [nvarchar](255) NULL,
	[explanation] [nvarchar](max) NULL,
	[difficulty] [int] NULL,
	[topic] [nvarchar](200) NULL,
	[subject] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[cognitive_level] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizAttempts]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizAttempts](
	[attempt_id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[score] [float] NULL,
	[started_at] [datetime] NULL,
	[submitted_at] [datetime] NULL,
	[time_spent] [int] NULL,
	[status] [varchar](20) NOT NULL,
	[correct_count] [int] NULL,
	[total_questions] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[attempt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quizzes]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizzes](
	[quiz_id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NULL,
	[quiz_title] [varchar](255) NULL,
	[duration_minutes] [int] NOT NULL,
	[quiz_type] [varchar](50) NULL,
	[subject] [varchar](50) NULL,
	[is_entry_test] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[quiz_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[reporter_id] [int] NOT NULL,
	[report_type] [nvarchar](100) NULL,
	[report_content] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_notes]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_notes](
	[note_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[lesson_id] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
	[timestamp_seconds] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[note_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentAnswers]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAnswers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[attempt_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
	[selected_option_id] [int] NULL,
	[answered_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentProgress]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentProgress](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[is_completed] [bit] NOT NULL,
	[last_accessed] [datetime2](6) NULL,
	[score] [float] NULL,
	[lesson_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[subject_id] [int] IDENTITY(1,1) NOT NULL,
	[subject_name] [nvarchar](100) NOT NULL,
	[category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_sessions]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_sessions](
	[sessions_id] [int] IDENTITY(1,1) NOT NULL,
	[ip_address] [varchar](255) NULL,
	[remaining_time] [int] NULL,
	[score] [real] NULL,
	[started_at] [datetime2](6) NULL,
	[status] [varchar](255) NULL,
	[submitted_at] [datetime2](6) NULL,
	[user_agent] [varchar](255) NULL,
	[quiz_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sessions_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/07/2026 7:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[phone] [varchar](255) NULL,
	[avatar_url] [nvarchar](255) NULL,
	[role_id] [int] NOT NULL,
	[account_status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[verification_code] [varchar](255) NULL,
	[verification_expiry] [datetime] NULL,
	[school] [nvarchar](255) NULL,
	[bio] [nvarchar](max) NULL,
	[role_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AcademicQuestions] ON 

INSERT [dbo].[AcademicQuestions] ([question_id], [user_id], [lesson_id], [content], [timestamp_seconds], [created_at]) VALUES (2, 8, 14, N'.', NULL, CAST(N'2026-07-12T19:51:15.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[AcademicQuestions] OFF
GO
SET IDENTITY_INSERT [dbo].[Assignments] ON 

INSERT [dbo].[Assignments] ([assignment_id], [course_id], [assignment_title], [assignment_description], [due_date], [created_at]) VALUES (1, 1, N'Derivative Homework', N'Complete derivative exercises from chapter 1.', CAST(N'2026-06-30T00:00:00.000' AS DateTime), CAST(N'2026-07-11T21:29:40.460' AS DateTime))
INSERT [dbo].[Assignments] ([assignment_id], [course_id], [assignment_title], [assignment_description], [due_date], [created_at]) VALUES (2, 2, N'Physics Force Assignment', N'Solve force and motion problems.', CAST(N'2026-07-05T00:00:00.000' AS DateTime), CAST(N'2026-07-11T21:29:40.460' AS DateTime))
INSERT [dbo].[Assignments] ([assignment_id], [course_id], [assignment_title], [assignment_description], [due_date], [created_at]) VALUES (3, 3, N'English Essay Writing', N'Write a short essay about education.', CAST(N'2026-07-10T00:00:00.000' AS DateTime), CAST(N'2026-07-11T21:29:40.460' AS DateTime))
SET IDENTITY_INSERT [dbo].[Assignments] OFF
GO
SET IDENTITY_INSERT [dbo].[AssignmentSubmissions] ON 

INSERT [dbo].[AssignmentSubmissions] ([submission_id], [assignment_id], [student_id], [submission_text], [file_url], [score], [feedback], [submitted_at]) VALUES (1, 1, 5, N'Completed all derivative questions.', N'/uploads/submissions/math/student5-derivative.pdf', 8.5, N'Good understanding, improve presentation.', CAST(N'2026-07-11T21:29:40.460' AS DateTime))
INSERT [dbo].[AssignmentSubmissions] ([submission_id], [assignment_id], [student_id], [submission_text], [file_url], [score], [feedback], [submitted_at]) VALUES (2, 2, 6, N'Physics assignment completed.', N'/uploads/submissions/physics/student6-force.pdf', 9, N'Excellent calculations.', CAST(N'2026-07-11T21:29:40.460' AS DateTime))
INSERT [dbo].[AssignmentSubmissions] ([submission_id], [assignment_id], [student_id], [submission_text], [file_url], [score], [feedback], [submitted_at]) VALUES (3, 3, 7, N'Essay submitted successfully.', N'/uploads/submissions/english/student7-essay.docx', 8, N'Grammar needs slight improvement.', CAST(N'2026-07-11T21:29:40.460' AS DateTime))
SET IDENTITY_INSERT [dbo].[AssignmentSubmissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([category_id], [category_name]) VALUES (1, N'Natural Sciences')
INSERT [dbo].[Categories] ([category_id], [category_name]) VALUES (2, N'Social Sciences')
INSERT [dbo].[Categories] ([category_id], [category_name]) VALUES (3, N'Languages')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Chapters] ON 

INSERT [dbo].[Chapters] ([chapter_id], [chapter_order], [chapter_title], [course_id], [created_at]) VALUES (17, 1, N'CHƯƠNG I. ỨNG DỤNG ĐẠO HÀM ĐỂ KHẢO SÁT VÀ VẼ ĐỒ THỊ HÀM SỐ', 1, CAST(N'2026-07-12T00:34:11.830' AS DateTime))
INSERT [dbo].[Chapters] ([chapter_id], [chapter_order], [chapter_title], [course_id], [created_at]) VALUES (18, 2, N'CHƯƠNG II. VECTƠ VÀ HỆ TRỤC TOẠ ĐỘ TRONG KHÔNG GIAN.', 1, CAST(N'2026-07-12T00:54:34.513' AS DateTime))
INSERT [dbo].[Chapters] ([chapter_id], [chapter_order], [chapter_title], [course_id], [created_at]) VALUES (19, 1, N'Phân Tích Tác Phẩm', 2, CAST(N'2026-07-12T18:53:46.457' AS DateTime))
SET IDENTITY_INSERT [dbo].[Chapters] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([course_id], [teacher_id], [subject_id], [course_title], [course_description], [thumbnail_url], [price], [is_published], [created_at], [status], [review_note], [reviewed_at]) VALUES (1, 2, 1, N'Toán Học 12', N'Complete mathematics course for National High School Exam preparation.', N'/uploads/thumbnails/math-course.jpg', CAST(599000.00 AS Decimal(10, 2)), 1, CAST(N'2026-07-11T21:29:40.457' AS DateTime), N'PUBLISHED', NULL, NULL)
INSERT [dbo].[Courses] ([course_id], [teacher_id], [subject_id], [course_title], [course_description], [thumbnail_url], [price], [is_published], [created_at], [status], [review_note], [reviewed_at]) VALUES (2, 3, 2, N'Ngữ Văn 12', N'Advanced physics lessons and mock exam strategies.', N'/uploads/thumbnails/physics-course.jpg', CAST(499000.00 AS Decimal(10, 2)), 1, CAST(N'2026-07-11T21:29:40.457' AS DateTime), N'PUBLISHED', NULL, NULL)
INSERT [dbo].[Courses] ([course_id], [teacher_id], [subject_id], [course_title], [course_description], [thumbnail_url], [price], [is_published], [created_at], [status], [review_note], [reviewed_at]) VALUES (3, 4, 5, N'Tiếng Anh 12', N'Comprehensive English preparation for university entrance exam.', N'/uploads/thumbnails/english-course.jpg', CAST(399000.00 AS Decimal(10, 2)), 1, CAST(N'2026-07-11T21:29:40.457' AS DateTime), N'PUBLISHED', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([enrollment_id], [student_id], [course_id], [enrolled_at], [progress_percent]) VALUES (1, 5, 1, CAST(N'2026-07-11T21:29:40.460' AS DateTime), 75)
INSERT [dbo].[Enrollments] ([enrollment_id], [student_id], [course_id], [enrolled_at], [progress_percent]) VALUES (2, 5, 2, CAST(N'2026-07-11T21:29:40.460' AS DateTime), 50)
INSERT [dbo].[Enrollments] ([enrollment_id], [student_id], [course_id], [enrolled_at], [progress_percent]) VALUES (3, 6, 1, CAST(N'2026-07-11T21:29:40.460' AS DateTime), 90)
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[LearningMaterials] ON 

INSERT [dbo].[LearningMaterials] ([material_id], [lesson_id], [material_title], [file_url], [uploaded_at]) VALUES (8, 14, N'Trắc nghiệm Tính đơn điệu và cực trị của hàm số', N'https://res.cloudinary.com/desnyjgxp/raw/upload/v1783859873/materials/bfea7dd9-cd88-4e37-bb8e-56364eea4d98', CAST(N'2026-07-12T19:37:54.277' AS DateTime))
SET IDENTITY_INSERT [dbo].[LearningMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([lesson_id], [lesson_title], [lesson_description], [video_url], [subtitle_url], [lesson_order], [created_at], [chapter_id], [course_id], [duration], [is_preview]) VALUES (14, N' Bài 1 - Tính đơn điệu và cực trị của hàm số - Tiết 1', N'', N'https://res.cloudinary.com/desnyjgxp/video/upload/v1783855379/videos/ea767ddf-c07f-4f09-92cb-fc27ce521e1c.mp4', NULL, 1, CAST(N'2026-07-12T18:23:01.080' AS DateTime), 17, NULL, N'35:33', 0)
INSERT [dbo].[Lessons] ([lesson_id], [lesson_title], [lesson_description], [video_url], [subtitle_url], [lesson_order], [created_at], [chapter_id], [course_id], [duration], [is_preview]) VALUES (15, N'Bài 1 - Tính đơn điệu và cực trị của hàm số - Tiết 2', N'', N'https://res.cloudinary.com/desnyjgxp/video/upload/v1783855488/videos/22b1a857-8d30-494a-ab97-7fdb5689bd3a.mp4', NULL, 2, CAST(N'2026-07-12T18:24:50.420' AS DateTime), 17, NULL, N'31:24', 0)
INSERT [dbo].[Lessons] ([lesson_id], [lesson_title], [lesson_description], [video_url], [subtitle_url], [lesson_order], [created_at], [chapter_id], [course_id], [duration], [is_preview]) VALUES (16, N'Bài 6 - Vectơ trong không gian - Tiết 1', N'', N'https://res.cloudinary.com/desnyjgxp/video/upload/v1783856454/videos/6a3956c0-e030-4ca7-b54e-69da6ba03e86.mp4', NULL, 1, CAST(N'2026-07-12T18:40:55.970' AS DateTime), 18, NULL, N'22:56', 0)
SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([notification_id], [title], [content], [target_role], [created_at], [created_by], [user_id], [is_read]) VALUES (1, N'?? C?p nh?t tính nang L? trình AI m?i', N'H? th?ng v?a nâng c?p thu?t toán phân tích nang l?c. Truy c?p tab L? trình AI d? xem g?i ý h?c t?p m?i nh?t dành cho b?n!', N'ALL', CAST(N'2026-07-11T21:29:40.633' AS DateTime), 1, NULL, 0)
INSERT [dbo].[Notifications] ([notification_id], [title], [content], [target_role], [created_at], [created_by], [user_id], [is_read]) VALUES (2, N'? Nh?c nh? l?ch h?c', N'B?n có l?ch Luy?n d? Toán s? 1 vào lúc 19:00 t?i nay. Nh? chu?n b? gi?y nháp và máy tính Casio nhé!', N'STUDENT', CAST(N'2026-07-11T21:29:40.633' AS DateTime), 1, NULL, 0)
INSERT [dbo].[Notifications] ([notification_id], [title], [content], [target_role], [created_at], [created_by], [user_id], [is_read]) VALUES (3, N'? K?t qu? ch?m bài', N'Giáo viên Nguy?n Minh Quân dã ch?m xong bài t?p "Derivative Homework" c?a b?n. Ði?m: 8.5/10.', N'STUDENT', CAST(N'2026-07-11T21:29:40.633' AS DateTime), 2, NULL, 0)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionOptions] ON 

INSERT [dbo].[QuestionOptions] ([option_id], [question_id], [option_content], [is_correct]) VALUES (1, 1, N'3x^2 - 3', 0)
INSERT [dbo].[QuestionOptions] ([option_id], [question_id], [option_content], [is_correct]) VALUES (2, 1, N'3x^2', 0)
INSERT [dbo].[QuestionOptions] ([option_id], [question_id], [option_content], [is_correct]) VALUES (3, 1, N'x^2 - 3', 0)
GO
SET IDENTITY_INSERT [dbo].[QuestionOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([question_id], [quiz_id], [question_content], [correct_answer], [explanation], [difficulty], [topic], [subject], [created_at], [cognitive_level]) VALUES (1, 1, N'Tìm đạo hàm của hàm số y = x^3 - 3x.', N'3x^2 - 3', N'y'' = (x^3)'' - (3x)'' = 3x^2 - 3', NULL, NULL, NULL, CAST(N'2026-07-11T21:29:40.550' AS DateTime), NULL)
INSERT [dbo].[Questions] ([question_id], [quiz_id], [question_content], [correct_answer], [explanation], [difficulty], [topic], [subject], [created_at], [cognitive_level]) VALUES (2, 1, N'Tìm đường tiệm cận đứng của đồ thị hàm số y = (2x + 1)/(x - 1).', N'x = 1', N'Tiệm cận đứng là nghiệm của mẫu số: x - 1 = 0 => x = 1', NULL, NULL, NULL, CAST(N'2026-07-11T21:29:40.553' AS DateTime), NULL)
INSERT [dbo].[Questions] ([question_id], [quiz_id], [question_content], [correct_answer], [explanation], [difficulty], [topic], [subject], [created_at], [cognitive_level]) VALUES (3, 1, N'Hàm số y = x^4 - 2x^2 đạt cực tiểu tại điểm nào?', N'x = 1 và x = -1', N'y'' = 4x^3 - 4x = 0 => x = 0, x = 1, x = -1. Lập bảng biến thiên ta thấy x = 1 và x = -1 là điểm cực tiểu.', NULL, NULL, NULL, CAST(N'2026-07-11T21:29:40.553' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[QuizAttempts] ON 

INSERT [dbo].[QuizAttempts] ([attempt_id], [quiz_id], [student_id], [score], [started_at], [submitted_at], [time_spent], [status], [correct_count], [total_questions]) VALUES (1, 1, 5, 8.5, CAST(N'2026-07-11T21:29:40.633' AS DateTime), CAST(N'2026-07-11T21:29:40.633' AS DateTime), NULL, N'COMPLETED', NULL, NULL)
INSERT [dbo].[QuizAttempts] ([attempt_id], [quiz_id], [student_id], [score], [started_at], [submitted_at], [time_spent], [status], [correct_count], [total_questions]) VALUES (2, 2, 6, 9, CAST(N'2026-07-11T21:29:40.633' AS DateTime), CAST(N'2026-07-11T21:29:40.633' AS DateTime), NULL, N'COMPLETED', NULL, NULL)
INSERT [dbo].[QuizAttempts] ([attempt_id], [quiz_id], [student_id], [score], [started_at], [submitted_at], [time_spent], [status], [correct_count], [total_questions]) VALUES (3, 3, 7, 7.5, CAST(N'2026-07-11T21:29:40.633' AS DateTime), CAST(N'2026-07-11T21:29:40.633' AS DateTime), NULL, N'COMPLETED', NULL, NULL)
SET IDENTITY_INSERT [dbo].[QuizAttempts] OFF
GO
SET IDENTITY_INSERT [dbo].[Quizzes] ON 

INSERT [dbo].[Quizzes] ([quiz_id], [course_id], [quiz_title], [duration_minutes], [quiz_type], [subject], [is_entry_test], [created_at]) VALUES (1, 1, N'Ð? thi th? Toán THPT Qu?c gia 2026 - Ð? 1', 90, N'ENTRY_TEST', N'math', 1, CAST(N'2026-07-11T21:29:40.460' AS DateTime))
INSERT [dbo].[Quizzes] ([quiz_id], [course_id], [quiz_title], [duration_minutes], [quiz_type], [subject], [is_entry_test], [created_at]) VALUES (2, 1, N'Bài t?p tr?c nghi?m Ð?o hàm và Tích phân', 60, N'PRACTICE', N'math', 0, CAST(N'2026-07-11T21:29:40.460' AS DateTime))
INSERT [dbo].[Quizzes] ([quiz_id], [course_id], [quiz_title], [duration_minutes], [quiz_type], [subject], [is_entry_test], [created_at]) VALUES (3, 2, N'Ð? thi th? V?t Lý THPT Qu?c gia 2026', 50, N'ENTRY_TEST', N'physics', 1, CAST(N'2026-07-11T21:29:40.460' AS DateTime))
SET IDENTITY_INSERT [dbo].[Quizzes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (1, N'ADMIN')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (3, N'STUDENT')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (2, N'TEACHER')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[student_notes] ON 

INSERT [dbo].[student_notes] ([note_id], [user_id], [lesson_id], [content], [timestamp_seconds], [created_at]) VALUES (1, 8, 14, N'ơ đoạn này sẽ là biến thiên', 0, CAST(N'2026-07-12T19:54:18.957' AS DateTime))
INSERT [dbo].[student_notes] ([note_id], [user_id], [lesson_id], [content], [timestamp_seconds], [created_at]) VALUES (2, 8, 14, N'đoạn này nữa', 898, CAST(N'2026-07-12T19:54:33.803' AS DateTime))
SET IDENTITY_INSERT [dbo].[student_notes] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([subject_id], [subject_name], [category_id]) VALUES (1, N'Mathematics', 1)
INSERT [dbo].[Subjects] ([subject_id], [subject_name], [category_id]) VALUES (2, N'Physics', 1)
INSERT [dbo].[Subjects] ([subject_id], [subject_name], [category_id]) VALUES (3, N'Chemistry', 1)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [full_name], [email], [password_hash], [phone], [avatar_url], [role_id], [account_status], [created_at], [verification_code], [verification_expiry], [school], [bio], [role_name]) VALUES (1, N'System Administrator', N'admin@learnifyfuture.com', N'123456', N'0901111111', N'admin.jpg', 1, N'ACTIVE', CAST(N'2026-07-11T21:29:40.453' AS DateTime), NULL, NULL, NULL, NULL, N'ADMIN')
INSERT [dbo].[Users] ([user_id], [full_name], [email], [password_hash], [phone], [avatar_url], [role_id], [account_status], [created_at], [verification_code], [verification_expiry], [school], [bio], [role_name]) VALUES (2, N'Nguyen Minh Quan', N'teacher.math@learnify.com', N'123456', N'0902222222', N'teacher1.jpg', 2, N'ACTIVE', CAST(N'2026-07-11T21:29:40.453' AS DateTime), NULL, NULL, N'FPT University', N'Math teacher with 5 years experience', N'TEACHER')
INSERT [dbo].[Users] ([user_id], [full_name], [email], [password_hash], [phone], [avatar_url], [role_id], [account_status], [created_at], [verification_code], [verification_expiry], [school], [bio], [role_name]) VALUES (3, N'Tran Bao Chau', N'teacher.physics@learnify.com', N'123456', N'0903333333', N'teacher2.jpg', 2, N'ACTIVE', CAST(N'2026-07-11T21:29:40.453' AS DateTime), NULL, NULL, N'Hanoi University', N'Physics specialist', N'TEACHER')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_LessonProgress]    Script Date: 12/07/2026 7:58:58 PM ******/
ALTER TABLE [dbo].[LessonProgress] ADD  CONSTRAINT [UQ_LessonProgress] UNIQUE NONCLUSTERED 
(
	[student_id] ASC,
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__783254B19F2A585E]    Script Date: 12/07/2026 7:58:58 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164499FCF47]    Script Date: 12/07/2026 7:58:58 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AcademicAnswers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[AcademicQuestions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[AIChatHistory] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[AssignmentSubmissions] ADD  DEFAULT (getdate()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [action_time]
GO
ALTER TABLE [dbo].[Chapters] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CourseReviews] ADD  DEFAULT (getdate()) FOR [reviewed_at]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [is_published]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [enrolled_at]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ((0)) FOR [progress_percent]
GO
ALTER TABLE [dbo].[LearningMaterials] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[LessonProgress] ADD  DEFAULT ((0)) FOR [is_completed]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ('00:00') FOR [duration]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((0)) FOR [is_preview]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('ALL') FOR [target_role]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [paid_at]
GO
ALTER TABLE [dbo].[QuestionOptions] ADD  DEFAULT ((0)) FOR [is_correct]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[QuizAttempts] ADD  DEFAULT (getdate()) FOR [started_at]
GO
ALTER TABLE [dbo].[QuizAttempts] ADD  DEFAULT ('IN_PROGRESS') FOR [status]
GO
ALTER TABLE [dbo].[Quizzes] ADD  DEFAULT ('PRACTICE') FOR [quiz_type]
GO
ALTER TABLE [dbo].[Quizzes] ADD  DEFAULT ((0)) FOR [is_entry_test]
GO
ALTER TABLE [dbo].[Quizzes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_notes] ADD  DEFAULT ((0)) FOR [timestamp_seconds]
GO
ALTER TABLE [dbo].[student_notes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[StudentAnswers] ADD  DEFAULT (getdate()) FOR [answered_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('ACTIVE') FOR [account_status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [school]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [bio]
GO
ALTER TABLE [dbo].[AcademicAnswers]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[AcademicQuestions] ([question_id])
GO
ALTER TABLE [dbo].[AcademicAnswers]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[AcademicQuestions]  WITH CHECK ADD FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lessons] ([lesson_id])
GO
ALTER TABLE [dbo].[AcademicQuestions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[AIChatHistory]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[AssignmentSubmissions]  WITH CHECK ADD FOREIGN KEY([assignment_id])
REFERENCES [dbo].[Assignments] ([assignment_id])
GO
ALTER TABLE [dbo].[AssignmentSubmissions]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Chapters]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[CourseReviews]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[CourseReviews]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[CourseReviews]  WITH CHECK ADD  CONSTRAINT [FKskvjexfakw0adg22pcfpvbdes] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[CourseReviews] CHECK CONSTRAINT [FKskvjexfakw0adg22pcfpvbdes]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subjects] ([subject_id])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[in_video_questions]  WITH CHECK ADD FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lessons] ([lesson_id])
GO
ALTER TABLE [dbo].[LearningMaterials]  WITH CHECK ADD FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lessons] ([lesson_id])
GO
ALTER TABLE [dbo].[LessonProgress]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[LessonProgress]  WITH CHECK ADD FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lessons] ([lesson_id])
GO
ALTER TABLE [dbo].[LessonProgress]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD FOREIGN KEY([chapter_id])
REFERENCES [dbo].[Chapters] ([chapter_id])
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[question_options]  WITH CHECK ADD  CONSTRAINT [FKsb9v00wdrgc9qojtjkv7e1gkp] FOREIGN KEY([question_id])
REFERENCES [dbo].[Questions] ([question_id])
GO
ALTER TABLE [dbo].[question_options] CHECK CONSTRAINT [FKsb9v00wdrgc9qojtjkv7e1gkp]
GO
ALTER TABLE [dbo].[QuestionOptions]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[Questions] ([question_id])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([quiz_id])
REFERENCES [dbo].[Quizzes] ([quiz_id])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FKn3gvco4b0kewxc0bywf1igfms] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[Quizzes] ([quiz_id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FKn3gvco4b0kewxc0bywf1igfms]
GO
ALTER TABLE [dbo].[QuizAttempts]  WITH CHECK ADD FOREIGN KEY([quiz_id])
REFERENCES [dbo].[Quizzes] ([quiz_id])
GO
ALTER TABLE [dbo].[QuizAttempts]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Quizzes]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[Quizzes]  WITH CHECK ADD  CONSTRAINT [FKeyyb5su1pua6yn014071jkwn0] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[Quizzes] CHECK CONSTRAINT [FKeyyb5su1pua6yn014071jkwn0]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([reporter_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[student_notes]  WITH CHECK ADD FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lessons] ([lesson_id])
GO
ALTER TABLE [dbo].[student_notes]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD FOREIGN KEY([attempt_id])
REFERENCES [dbo].[QuizAttempts] ([attempt_id])
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[Questions] ([question_id])
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD FOREIGN KEY([selected_option_id])
REFERENCES [dbo].[QuestionOptions] ([option_id])
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD  CONSTRAINT [FKkm6njdqxqf3rt3m3fxgg37gso] FOREIGN KEY([attempt_id])
REFERENCES [dbo].[test_sessions] ([sessions_id])
GO
ALTER TABLE [dbo].[StudentAnswers] CHECK CONSTRAINT [FKkm6njdqxqf3rt3m3fxgg37gso]
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD  CONSTRAINT [FKqc794oxqt7qs8j0wfr6n4a16s] FOREIGN KEY([selected_option_id])
REFERENCES [dbo].[question_options] ([option_id])
GO
ALTER TABLE [dbo].[StudentAnswers] CHECK CONSTRAINT [FKqc794oxqt7qs8j0wfr6n4a16s]
GO
ALTER TABLE [dbo].[StudentProgress]  WITH CHECK ADD  CONSTRAINT [FKm8764kdaa0fef3cx2katprjnq] FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lessons] ([lesson_id])
GO
ALTER TABLE [dbo].[StudentProgress] CHECK CONSTRAINT [FKm8764kdaa0fef3cx2katprjnq]
GO
ALTER TABLE [dbo].[StudentProgress]  WITH CHECK ADD  CONSTRAINT [FKmv630ste63uopnflsaioyplpd] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[StudentProgress] CHECK CONSTRAINT [FKmv630ste63uopnflsaioyplpd]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[test_sessions]  WITH CHECK ADD  CONSTRAINT [FK5x2vefiwsje0r1l95p8pnxye0] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[test_sessions] CHECK CONSTRAINT [FK5x2vefiwsje0r1l95p8pnxye0]
GO
ALTER TABLE [dbo].[test_sessions]  WITH CHECK ADD  CONSTRAINT [FKmutw3cc1m6bjox0lqj24mcevd] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[Quizzes] ([quiz_id])
GO
ALTER TABLE [dbo].[test_sessions] CHECK CONSTRAINT [FKmutw3cc1m6bjox0lqj24mcevd]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[CourseReviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD CHECK  (([difficulty]>=(1) AND [difficulty]<=(4)))
GO
ALTER TABLE [dbo].[QuizAttempts]  WITH CHECK ADD CHECK  (([status]='ABANDONED' OR [status]='COMPLETED' OR [status]='IN_PROGRESS'))
GO
USE [master]
GO
